Django==3.2.13
asgiref
certifi
cffi
charset-normalizer
cryptography
django-anymail
django-browser-reload
django-cors-headers
djangorestframework
gunicorn
idna
mysqlclient
packaging
pycparser
pytz
requests
rest-api-payload
sqlparse
typing_extensions
urllib3
whitenoise
