asgiref==3.7.2
certifi==2023.7.22
cffi
charset-normalizer==3.3.2
cryptography==41.0.5
Django==3.2.13
django-anymail==10.2
django-browser-reload
django-cors-headers
djangorestframework
gunicorn
idna
packaging
pycparser
pytz
requests
rest-api-payload
sqlparse
typing_extensions
urllib3
whitenoise
