<div class="top">
    
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-3">
                <div class="welcome-text">
                    <p>Welcome to Readershome</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-9 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="part-right">
                    <ul>
                        <li class="nav-item join-now-btn">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="mb-0 text-center alert alert-dismissible fade show {{ message.extra_tags }}" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %}
                            {% endif %} 
                        </li>
                        {% comment %} <li>
                            <span class="simple-text">Sever Time : </span>
                            <div class="server-time">
                                <div class="single-time clock-time">
                                    <span class="icon">
                                        <i class="far fa-clock"></i>
                                    </span>
                                    <span class="text">
                                        <span id="hours"></span>
                                        <span id="minutes"></span>
                                        <span id="seconds"></span>
                                    </span>
                                </div>
                                <div class="single-time">
                                    <span class="icon">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                    <span class="text">
                                        <span id="date"></span>
                                        <span id="month"></span>
                                        <span id="year"></span>
                                    </span>
                                </div>
                            </div>
                        </li> {% endcomment %}
                        {% if not request.user.is_authenticated %}
                        <li>
                            <div class="user-panel">
                                <span>
                                    <a href="/" class="login-btn">Login</a>or</span><a href="#" class="register-btn">Register</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

