{% load static %}

<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="about-widget">
                        <a href="index.html" class="logo">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis commodi ut illum. Cumque, unde suscipit error!</p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="#0" class="single-link">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="single-link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="single-link">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="single-link">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-10">
                    <div class="link-widget">
                        <h4 class="title">
                            Useful links
                        </h4>
                        <ul>
                            <li>
                                <a href="#0" class="single-link">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="single-link">
                                    Affiliate
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="single-link">
                                    Pricing Plan
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="single-link">
                                    Profit
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="single-link">
                                    Terms & Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-10">
                    <div class="newsletter-widget">
                        <h4 class="title">
                            Subscribe To Our Newsletter
                        </h4>
                        <form class="newsletter-form">
                            <input type="text" placeholder="Enter Your Mail Address">
                            <button class="def-btn def-small">
                                Subscribe
                            </button>
                        </form>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus labore recusandae! Quia sint consectetur explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <p>Copyright © <a href="index.html">Oitila</a> - 2020. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>