{% load static %}

<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10">
                    <div class="about-widget">
                        <a href="/" class="logo">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                        <p>Download our apps,
                            We love to have you on board</p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/www.readershome.ng/" class="single-link">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/readershomeng" class="single-link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/readershome.ng/" class="single-link">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://pinterest.com/rclaimreward/?actingBusinessid=884113108006790046" class="single-link">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p>Follow Us</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10">
                    <div class="link-widget">
                        <h4 class="title">
                            Useful links
                        </h4>
                        <ul>
                            <li>
                                <a href="/" class="single-link">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="/" class="single-link">
                                    Affiliate
                                </a>
                            </li>
                            <li>
                                <a href="/" class="single-link">
                                    Profit
                                </a>
                            </li>
                            <li>
                                <a href="/privacy" class="single-link">
                                    Terms & Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <p>Copyright © <a href="/">Readershome</a> - 2023. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>