{% load static %}

{% comment %} <div class="d-xl-none d-lg-none d-block">
    <div class="mobile-navigation-bar">
        <ul>
            <li>
                <a href="#0">
                    <img src="{% static 'img/svg/profile.svg' %}" alt="">
                </a>
            </li>
            <li>
                <a href="#0">
                    <img src="{% static 'img/svg/money-transfering.svg' %}" alt="">
                </a>
            </li>
            <li>
                <a href="#0">
                    <img src="{% static 'img/svg/calculator.svg' %}" alt="">
                </a>
            </li>
            <li>
                <a href="#header">
                    <img src="{% static 'img/svg/arrow.svg' %}" alt="">
                </a>
            </li>
        </ul>
    </div>
</div> {% endcomment %}

<div class="d-xl-block d-lg-block d-none">
    <div class="back-to-top-btn">
        <a href="#">
            <img src="{% static 'img/svg/arrow.svg' %}" alt="">
        </a>
    </div>
</div>