{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- breadcrumb begin -->
<div class="breadcrumb-oitila">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-8">
                <div class="part-txt">
                    <h1>privacy</h1>
                    <ul>
                        <li>home</li>
                        <li>privacy page</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-4 d-flex align-items-center">
                <div class="part-img">
                    <img src="{% static 'img/breadcrumb-img.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- login begin -->
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-7 col-sm-9">
                   
                    <div class="row no-gutters">
                        <div class="col-xl-12 col-lg-12">

                            <h3>PRIVACY & CONTENT  POLICY</h3>

                            <p>User hereby agrees to the following terms of agreement by registering on our website or using any of our apps
                                <br/>
                                <br/>
                                · our apps and website contains social functions, like chats, newsletter email collecting with the objective users can share information.
                                <br/>
                                <br/>
                                · Consequently, the apps can ask the user to enter personal data such as pictures or birthday.
                                <br/>
                                <br/>
                                · These personal data are displayed to other users of the apps. These data aren't shared with any other entity or third organizations.
                                <br/>
                                <br/>
                                · Users can delete their personal data on our apps using the link for that purpose that exists in the user profile options in the apps.
                                <br/>
                                <br/>
                                · It's prohibited to publish content for adults only, like images with sexual content or images of extreme violence.
                                <br/>
                                <br/>
                                · Images and Videos entered by the user are sent to the app server in order to be retrieved later by the user himself, and so that the app can offer the functionalities according to its description.
                                <br/>
                                <br/>
                                · We allow third-party companies to serve ads and collect certain anonymous information when you visit our apps or website. These companies may use anonymous information such as your Google Advertising ID, your device type and version, browsing activity, location and other technical data relating to your device, in order to provide advertisements.
                                <br/>
                                <br/>
                                . User using our services agree to us having all rights absolute to withhold user rewards commision due to the the following reasons:
                                a) malpractices in games or quiz
                                b} fraudlent referring or withdrawal behaviour
                                c) inadequate/limited funds to payout at the moment
                                which ever the above reason, user have every right to channel complaints or greviances to customer services through our apps.
                            </p>

                            
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- login end -->
{% endblock content %}

