{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- breadcrumb begin -->

<!-- breadcrumb end -->

<!-- account begin -->
<div class="user-dashboard">
    <div class="container">

        {% include "common/dashboard-menu.html" %}

        
        {% comment %} {% include "common/user-statistics.html" %} {% endcomment %}

        <div class="refferal-info">
            <div class="row">
                {% comment %} <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="single-info">
                        <div class="part-icon">

                        </div>
                        <div class="part-text">
                            <span class="title">Your Upline</span>
                            <span class="descr">Peredion.com <a href="#" class="mail-icon"><i class="fas fa-envelope"></i></a></span>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="col-xl-6 col-lg-6 col-sm-6">
                    <div class="single-info">
                        <div class="part-icon">

                        </div>
                        <div class="part-text">
                            <span class="title">Your Referrals</span>
                            <span class="descr"><i class="fas fa-users"></i> {{referrals_count}}</span>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="single-info">
                        <div class="part-icon">

                        </div>
                        <div class="part-text">
                            <span class="title">Active Referrals</span>
                            <span class="descr">0 + <i class="fas fa-users"></i> 0</span>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="col-xl-6 col-lg-6 col-sm-6">
                    <div class="single-info">
                        <div class="part-icon">

                        </div>
                        <div class="part-text">
                            <span class="title">Total Ref. Earnings</span>
                            <span class="descr">₦ {{refferals_earnings.amount__sum}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7">

                <div class="ref-link">
                    <h3 class="title">
                        Refer Friend & Earn ₦100 Credit
                    </h3>
                    <form>
                        {% comment %} <input type="text" value="{{host}}/{{request.user.username}}" disabled> {% endcomment %}
                        <input type="text" value="{{host}}{% url 'base:signup' %}?ref={{request.user.username}}" disabled>
                        <button class="copy-btn">
                            <span class="icon"><i class="fas fa-copy"></i></span>
                            <span class="text">Copy</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="share-on-social">
                    <h3 class="title">
                        Share On Social
                    </h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- account end -->
{% endblock content %}