{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="user-dashboard">
    <div class="container">

        {% include "common/dashboard-menu.html" %}

        
        {% comment %} {% include "common/user-statistics.html" %} {% endcomment %}

        <div class="withdraw-section">
            <div class="row">
                {% comment %} <div class="col-xl-5 col-lg-5 col-md-5">
                    <h3 class="title">
                        Add New Card
                    </h3>
                    <div class="add-credit-card card">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">Card Number</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="•••• •••• •••• ••••">
                                        </div>
                                        <div class="form-group">
                                        <label for="exampleInputEmail4">Name on Card</label>
                                        <input type="email" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" placeholder="Farzana Mukta">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="form-group expire-date-elem">
                                            <label for="inputDate">Expire date</label>
                                            <div class="form-row">
                                                <div class="form-group col-xl-6 col-lg-6 col-6">
                                                    <input type="text" class="form-control" id="inputdate" placeholder="MM">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-6 col-6">
                                                    <input type="text" class="form-control" id="inputZip" placeholder="YY">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail4">Card Code</label>
                                            <input type="email" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" placeholder="CVC">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn-hyipox-medium btn-add-new-card">Add New Account</button>
                            </form>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <h3 class="title">
                        Withdraw Your Funds
                    </h3>
                    <form method="POST"> 
                        {% csrf_token %}
                    <div class="last-step">
                            <div class="payment-method-list row">

                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <div class="oit-width-1">
                                        <label>Enter Your Amount</label>
                                            <span class="currency-symbol" id="basic-addon1">₦</span>
                                            {{ form.amount }}
                                            {% comment %} <input type="text" class="inputted-amount" value="10" /> {% endcomment %}
                                                
                                        <p>Minimum withdrawal: ₦1000</p>
                                        

                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <div class="available-balance-el">
                                        <span class="title">Balance</span>
                                        <ul>
                                            <li class="available">
                                                <span class="text">Available: </span>
                                                <span class="amount">₦{{request.user.profile.account_balance}}</span>
                                            </li>
                                            
                                        </ul>
                                        <button type="submit" class="btn-hyipox-medium withdraw-btn">Let's Withdraw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h3 class="title">
                Previous withdrawals
            </h3>
        </div>

        <div class="responsive">
            <table class="table table-bordered">
                <thead>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for i in withdrawals %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.created_at }}</td>
                        <td>₦ {{ i.amount}}</td>
                        <td>
                            {% if i.status == "P" %}
                            <p class="badge badge-secondary">Pending</p>
                            {% elif i.status == "PC" %}
                            <p class="badge badge-warning">Processing</p>
                            {% elif i.status == "A" %}
                            <p class="badge badge-success">Approved</p>
                            {% elif i.status == "D" %}
                            <p class="badge badge-danger">Denied</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.status == "P" %}
                                <a href="{% url 'base:delete-withdraw' i.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock content %}